.itemTitle {
  position: absolute;
  width: 314px;
  height: 43px;
  left: 914px;
  top: 898px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;

  color: #0D134E;
};

.itemDescription {
  position: absolute;
  width: 549px;
  height: 45px;
  left: 918px;
  top: 1042px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  /* or 181% */
  color: #A9ACC6;
}

.itemPrice {
  position: absolute;
  width: 51px;
  height: 29px;
  left: 916px;
  top: 984px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  /* identical to box height, or 181% */
  text-transform: capitalize;
  /* Text */
  color: #151875;
}

.itemMainPic {
  position: absolute;
  width: 375px;
  height: 487px;
  left: 497px;
  top: 848px;

  background: url(.jpg), #C4C4C4;
  border-radius: 3px;
}

.itemSidePic1 {
  position: absolute;
  width: 151px;
  height: 155px;
  left: 325px;
  top: 848px;

  background: url(.jpg), #C4C4C4;
  border-radius: 3px;
}

.itemSidePic2 {
  position: absolute;
  width: 151px;
  height: 155px;
  left: 325px;
  top: 1014px;

  background: url(.jpg), #C4C4C4;
  border-radius: 3px;
}

.itemSidePic3 {
  position: absolute;
  width: 151px;
  height: 155px;
  left: 325px;
  top: 1180px;
  
  background: url(.jpg), #C4C4C4;
  border-radius: 3px;
}

.additionalContainer {
  position: absolute;
  width: 1920px;
  height: 721px;
  left: -1px;
  top: 1538px;

  background: #F9F8FE;
}

.additionalDescriptionTitle {
  position: absolute;
  width: 208px;
  height: 26px;
  left: 325px;
  top: 1712px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  
  /* Text */
  color: #151875;
}

.additionalInfoTitle {
  position: absolute;
  width: 174px;
  height: 29px;
  left: 540px;
  top: 1629px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  
  /* identical to box height */
  
  /* Text */
  color: #151875;
}

.additionalReviewsTitle {
  position: absolute;
  width: 90px;
  height: 29px;
  left: 777px;
  top: 1629px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  /* identical to box height */

  /* Text */
  color: #151875;
}

.additionalFirstBoxTitle {
  position: absolute;
  width: 208px;
  height: 26px;
  left: 325px;
  top: 1712px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  
  /* Text */
  color: #151875;
}

.additionalFirstBoxDescription {
  position: absolute;
  width: 1153px;
  height: 87px;
  left: 328px;
  top: 1748px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;

  /* or 181% */

  color: #A9ACC6;
}

.additionalSecondBoxTitle {
  position: absolute;
  width: 130px;
  height: 26px;
  left: 325px;
  top: 1871px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;

  /* Text */
  color: #151875;
}

.additionalSeconBoxDescription {
  position: absolute;
  width: 1153px;
  height: 87px;
  left: 325px;
  top: 1912px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  /* or 181% */
  color: #A9ACC6;
}