.nav-box {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	height: 330px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	flex-grow: 1;
	background-color: #8568ff;
	padding: 6px 10%;
}

.c-the {
	color: #0d0e43;
	font-size: 28px;
}
.c-shop {
	color: #ffffff;
	font-size: 28px;
}

.navbar-list {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	flex-direction: row;
	align-items: center;
}

.navbar-list li {
	display: inline-block;
	padding: 0px 20px;
	cursor: pointer;
}

.c-box {
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
	height: 28px;
	width: 120px;
}

.link-1 {
	font-family: "Lato";
	font-size: 16px;
	font-weight: 400;
	color: #0d0e43;
	list-style: none;
}
.link-2 {
	font-family: "Lato";
	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
	list-style: none;
}

.link-3 {
	font-family: "Lato";
	font-size: 16px;
	font-weight: 400;
	color: #0d0e43;
	list-style: none;
}

.input {
	box-sizing: border-box;
	background: #ffffff;
	border: 2px solid #e7e6ef;
	border-radius: 5px;
	height: 30px;
	width: 220px;
}

.c-navbanner {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #ffffff;
	font-family: "Crimson Text";
	font-style: normal;
	font-weight: 200;
	font-size: 36px;
	line-height: 47px;
	color: #ffffff;
	position: relative;
}

.c-navbanner img {
	height: 300px;
	border-radius: 10px 10px 0px 0px;
	width: 250px;
}

.c-navbanner-right {
	position: relative;
}

.c-img-white {
	z-index: -1;
	position: absolute;
}
.mainimg {
	z-index: 2;
}

.c-img-white.right {
	left: 20px;
	top: 20px;
	transform: rotate(10deg);
}

.c-img-white.left {
	left: -20px;
	top: 20px;
	transform: rotate(-10deg);
}

.c-navbanner-left {
	margin-top: -80px;
	width: 500px;
}
