.pd-container {
	margin-top: 20px;
	margin-left: 300px;
	width: 900px;
	height: 220px;
	background-color: F5F5F5;
	padding: 10px;
	border: 5px;
	border-radius: 5px;
	box-shadow: 0 5px 30px 10px rgba(168, 163, 163, 0.4);
	letter-spacing: 1px;
}

.card-box {
	display: flex;
}

.c-image {
	width: 260px;
	height: 200px;
	box-shadow: 0 5px 30px 10px rgba(225, 219, 219, 0.4);
	border-radius: 8px;
}

.card-info {
	display: flex;
}

.c-ul-pd {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: flex-start;
}

.c-ul-info li {
	display: inline-block;
}

.c-pd-title {
	font-size: large;
	font-weight: bolder;
	color: #111c85;
	list-style: none;
}

.c-pd-price {
	font-weight: bold;
	color: #111c85;
	list-style: none;
	padding: 5px;
	word-spacing: 30px;
}

.c-pd-description {
	list-style: none;
	font-size: small;
	color: #8c9294;
}

.c-icons {
	display: flex;
	margin-top: 10px;
	justify-content: space-between;

	height: 30px;
	width: 130px;
}
main {
	margin-top: 17%;
	background: white;
}

.h-container-upper {
	display: flex;
	justify-content: space-between;
}

.c-checkboxes {
	display: flex;
	flex-direction: column;
	width: 10%;
	justify-content: start;
	position: fixed;
	top: 600px;
	margin-left: 50px;
	border: 1px solid;
	padding: 20px;
	background-color: #9980fa;
	border-radius: 10px;
	font-size: larger;
	font-weight: 900;
	padding-top: 40px;
	color: #fff;
}

.c-checkboxes div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	flex-direction: row-reverse;
}

.product-card {
	width: 88%;
}

.c-svg svg {
	position: relative;
	top: 8px;
	left: -30px;
}
