.banner {
	font-size: 34px;
	text-align: center;
	font-weight: bold;
	width: 300px;
}

.footer {
	position: absolute;
	width: 100%;
	height: 300px;
	background: #0d0e43;
}

.footer-categories {
	color: rgba(255, 255, 255, 1);
	font-size: 24px;
	width: 45%;
	display: flex;
}

.brand-name-footer {
	color: rgba(255, 255, 255, 1);
	position: absolute;
	left: 16.15%;
	right: 76.72%;
	top: 17.86%;
	bottom: 72.18%;

	font-family: "Crimson Text";
	font-style: normal;
	font-weight: 400;
	font-size: 38px;
	line-height: 49px;
}
